*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border:none;
    font-family: arial;
}
body{
    background-color: rgb(41, 41, 41);
}
#caixa-resultado{
    color:black;
    background-color: white;
    height: 50px;
    width: 206px;
    margin:2px;
    background-color: rgb(255, 255, 173);
    font-size: 25px;
    display: flex;
    justify-content: end;

}
#resultado{

    align-self: center;
    margin-right: 5px;
    max-width: 205px;
    overflow: hidden;
}
#calculadora{
    text-align: center;
    color: white;
    background-color: black;
    width: fit-content;
    height: fit-content;
    margin: 10% auto;
    padding: 8px;
    border-radius: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor:pointer;


}
.botao:hover{
    background-color: rgb(20, 20, 20);
    color: white;
    font-weight: bold;
}
.igual{
    background-color: rgb(119, 119, 255);
    border-radius: 0 0 10px 0;
}
.igual:hover{
    background-color: rgb(31, 31, 134);
}
.zero{
    width: 102px;
    border-radius: 0px 0 0 10px;
}
